<div class="contenitor">
    <div class="first">
        <div class="about-me">
            <div class="title">
                <h2>ABOUT ME</h2>
                <span>ABOUT ME</span>
            </div>
            <div class="contenitor-info">
                <div class="photo">
                    <img src="../assets/img/me-description.png" alt="Antonio's photo">
                </div>
                <div class="description">
                    <h2>I am <span>Antonio Popa</span></h2>
                    <p>Passionate about Technology and cars, with a
                        proactive attitude and always seeking to improve my skills,
                        I believe that the key to success is perseverance and ambition,
                        combined with the continuing desire to learn and grow.</p>
    
                    <table>
                        <tr class="title-table">
                            <td>
                                Full Name :
                            </td>
                            <td>
                                Age :
                            </td>
                            <td>
                                Nationality :
                            </td>
                            <td>
                                Languages :
                            </td>
                            <td>
                                Address :
                            </td>
                            <td>
                                Freelance :
                            </td>
                        </tr>
                        <tr class="fields">
                            <td>Antonio Lucian Popa</td>
                            <td>21 years</td>
                            <td>Romanian</td>
                            <td>English, Romanian, Italian</td>
                            <td>Rome, Italy</td>
                            <td>Available</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="contenitor-services">
            <div class="title-service">
                <h2>SERVICES</h2>
                <span>SERVICES</span>
            </div>
            <div class="container-box">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="title">
                        <h5>Backend Development</h5>
                    </div>
                        <p class="description">Create a backend shaped exactly by your business needs</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="title">
                        <h5>Frontend Development</h5>
                    </div>
                        <p class="description">Bring your backend application to life using a Web UI</p>
                </div>
            </div>
            <div class="container-box">
                <div class="box">
                    <div class="icon">
                        <i class="far fa-mobile-android"></i>
                    </div>
                    <div class="title">
                        <h5>Mobile Development</h5>
                    </div>
                        <p class="description">Extend your application with Android native features</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <div class="title">
                        <h5>Cloud Deployment</h5>
                    </div>
                        <p class="description">Deploy and host your entire application to cloud in no time</p>
                </div>
            </div>
        </div>
    </div>
</div>