@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

.contenitor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: -1;

  .first {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0;

    .title {
      margin-bottom: 60px;
      position: relative;
      z-index: 1;
      width: 100%;

      h2 {
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 2.57rem;
        line-height: 3.2857rem;
        font-family: "Nunito", sans-serif;
        color: #fff;
      }

      h2::before {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 100px;
        background: rgba(3, 127, 255, 0.3);
      }

      h2::after {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 35px;
        background: #037fff;
      }

      span {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 4rem;
        line-height: 1;
        font-weight: 900;
        color: rgba(25, 29, 43, 0.44);
        display: inline-block;
        text-transform: uppercase;
        z-index: -1;
        transform: translateY(-40%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        white-space: nowrap;
      }
    }

    .about-me {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      margin: 0 18px;

      p {
        display: flex;
      }

      .contenitor-info {
        display: flex;

        .photo {
          img {
            width: 100%;
          }

          img::before,
          img::after {
            content: "";
            position: absolute;
            height: 65%;
            width: 15px;
            background: rgba(3, 127, 255, 0.6);
          }

          img::before {
            left: 0;
            top: 0;
          }

          img::after {
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
          }
        }
      }

      .description {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          margin-bottom: 1rem;
          width: 100%;
          color: #fff;
        }

        span {
          color: #207df1;
        }

        p {
          margin-top: 0;
          margin-bottom: 1rem;
          font-size: 18px;
          line-height: 1.8rem;
          font-family: "Nunito Sans", sans-serif;
          font-weight: 300;
          color: #a4acc4;
          width: 100%;
        }

        p:nth-child(2) {
          width: 25rem;
        }

        table {
          color: #fff;
          display: flex;
          width: 100%;

          td {
            margin: 10px 0;
            font-family: "Nunito Sans", sans-serif;
            color: #a4acc4;
          }

          .title-table {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 600;
            line-height: 15px;
          }

          .fields {
            display: flex;
            flex-direction: column;
            line-height: 15px;
          }
        }
      }
    }
  }

  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0;

    .title-service {
      margin-bottom: 60px;
      position: relative;
      z-index: 1;
      width: 100%;

      h2 {
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 2.57rem;
        line-height: 3.2857rem;
        font-family: "Nunito", sans-serif;
        color: #fff;
      }

      h2::before {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 100px;
        background: rgba(3, 127, 255, 0.3);
      }

      h2::after {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 35px;
        background: #037fff;
      }

      span {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 4rem;
        line-height: 1;
        font-weight: 900;
        color: rgba(25, 29, 43, 0.44);
        display: inline-block;
        text-transform: uppercase;
        z-index: -1;
        transform: translateY(-40%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        white-space: nowrap;
      }
    }
  }

  .contenitor-services {
    position: relative;
    right: 2%;
    .container-box {
      display: flex;

      .box {
        flex: 0 0 50%;
        margin: 15px;
        max-width: 50%;
        border: 1px solid #2e344e;
        border-top: 5px solid #2e344e;
        padding: 30px;
        background: #191d2b;
        transition: all 0.4s ease-out;

        .icon {
          margin-bottom: 20px;
          display: inline-block;
          color: #037fff;
          font-size: 2rem;
        }

        .title {
          font-weight: 600;
          position: relative;
          padding-bottom: 15px;
          margin-bottom: 15px;
          font-family: Nunito, sans-serif;
          color: #fff;
          font-size: 1.43rem;
          line-height: 2.14rem;

          h5::before {
            content: "";
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 2px;
            width: 50px;
            background: #2e344e;
          }
        }
        .description {
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1178px) {
  .contenitor {
    .first {
      margin-bottom: 30px;
      padding-left: 0;

      .title {
        margin-top: 100px;

        h2 {
          font-size: 2rem;
        }
        span {
          font-size: 4rem;
        }
      }
      .contenitor-info {
        flex-direction: column;
        .photo {
          margin-bottom: 50px;
        }

        .description {
          margin-left: 0;

          h2 {
            text-align: center;
          }

          p {
            text-align: center;
          }

          table {
            justify-content: center;
          }
        }
      }
    }
    .services {
      .contenitor-services {
        .title-service {
          margin-top: 100px;

          h2 {
            font-size: 2rem;
          }
          span {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1378px) {
  .contenitor-services {
    right: 0;
    .container-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .box {
        width: 500px;
        max-width: inherit !important;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .contenitor {
    .first {
      padding-left: 0;
      margin: 0;
      .title {
        span {
          font-size: 3rem;
        }
      }
      .about-me {
        .description {
          p {
            width: 100% !important;
          }
        }
      }
    }
    .services {
      padding-left: 0;
      .title-service {
        padding-left: 16px;
        span {
          font-size: 3rem!important;
          left: 4%;
        }
      }
      .container-box {
        .box {
          flex: 0 0 100%;
          width: auto;
          max-width: 100% !important;
          padding: 20px;
        }
      }
    }
    .contenitor-services {
      right: 0;
    }
  }
}
