.contenitor-section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .photo-wrapper-section {
    padding: 120px 0;
    .title {
      margin-bottom: 60px;
      position: relative;
      z-index: 1;
      h2 {
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 2.57rem;
        line-height: 3.2857rem;
        font-family: "Nunito", sans-serif;
        color: #fff;
      }

      h2::before {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 100px;
        background: rgba(3, 127, 255, 0.3);
      }

      h2::after {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 5px;
        border-radius: 100px;
        width: 35px;
        background: #037fff;
      }

      span {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 4rem;
        line-height: 1;
        font-weight: 900;
        color: rgba(25, 29, 43, 0.44);
        display: inline-block;
        text-transform: uppercase;
        z-index: -1;
        transform: translateY(-40%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        white-space: nowrap;
      }
    }
    .contenitor-gallery {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      margin-top: 30px;
      .gallery {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        img {
          margin-top: 8px;
          vertical-align: middle;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .contenitor-section {
    max-width: 1140px !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .contenitor-section {
    .photo-wrapper-section {
      .contenitor-gallery {
        .gallery {
          flex: 50%;
          max-width: 50%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .contenitor-section {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contenitor-section {
    max-width: 720px!important;
  }
}

@media only screen and (max-width: 767px) {
    .contenitor-section {
        .photo-wrapper-section {
          .contenitor-gallery {
            .gallery {
              flex: 100%;
              max-width: 100%;
            }
          }
        }
      }
}

@media (min-width: 576px) and (max-width: 767px) {
  .contenitor-section {
    max-width: 540px;
  }
}

@media (max-width: 767px) {
    .contenitor-section {
        .photo-wrapper-section {
            .title {
                h2 {
                    font-size: 2rem;
                }
                span {
                    font-size: 3rem;
                }
            }
        }
      }
}
