<div class="contenitor-section">
 <div class="photo-wrapper-section">
     <div class="title">
        <h2>PHOTOS</h2>
        <span>PHOTOS</span>
     </div>
     <div class="contenitor-gallery">
         <div class="gallery">
             <img src="./assets/img/lamborghini.jpg" alt="image">
             <img src="./assets/img/cruise-1.jpg" alt="image">
             <img src="./assets/img/cruise-2.jpg" alt="image">
             <img src="./assets/img/cruise-3.jpg" alt="image">
             <img src="./assets/img/cruise-4.jpg" alt="image">
             <img src="./assets/img/cruise-5.jpg" alt="image">
             <img src="./assets/img/me-2.jpg" alt="image">
             <img src="./assets/img/friend.jpg" alt="image">
             <img src="./assets/img/ferrari.jpg" alt="image">
         </div>
         <div class="gallery">
            <img src="./assets/img/me-1.jpg" alt="image">
            <img src="./assets/img/mustang-blue.jpg" alt="image">
            <img src="./assets/img/mustang-red.jpg" alt="image">
            <img src="./assets/img/mustang-yellow.jpg" alt="image">
         </div>
         <div class="gallery">
            <img src="./assets/img/maserati.jpg" alt="image">
            <img src="./assets/img/porsche.jpg" alt="image">
            <img src="./assets/img/me-3.jpg" alt="image">
            <img src="./assets/img/urus.jpg" alt="image">
         </div>
         <div class="gallery">
            <img src="./assets/img/roma.jpg" alt="image">
            <img src="./assets/img/roma-2.jpg" alt="image">
            <img src="./assets/img/camaro.jpg" alt="image">
            <img src="./assets/img/audi.jpg" alt="image">
         </div>
     </div>
 </div>
</div>