<div class="contenitor">
    <div class="first">
        <div class="contenitor-skills">
            <div class="title-first">
                <h2>SKILLS</h2>
                <span>SKILLS</span>
            </div>
            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>ANGULAR</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/angular.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-angular"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h5>JAVA</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/java.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-java"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>REACT JS</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/react.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-react"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h5>SPRING BOOT</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/spring.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-spring"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>JAVASCRIPT</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/js.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-react"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h5>HIBERNATE</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/hibernate.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-hibernate"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>TYPESCRIPT</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/typescript.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-ts"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h5>POSTGRESQL</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/postgresql.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-postSql"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>GIT</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/git.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-git"></div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h5>MYSQL</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/mysql.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-postSql"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="box">
                    <div class="title">
                        <h5>IONIC</h5>
                    </div>
                    <div class="skill">
                        <img src="./assets/img/ionic.png" width="30px" height="30px" />
                        <div class="loader">
                            <div class="inside-loader-ionic"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="first">
        <div class="container-resume">
            <div class="title-first">
                <h2>RESUME</h2>
                <span>RESUME</span>
            </div>
            <div class="title">
                <i class="fas fa-suitcase"></i>
                <h4>Working Experience</h4>
            </div>
            <div class="resume-wrapper">
                <div class="resume">
                    <div class="resume-summary">
                        <h6>September 2020 - Present</h6>
                    </div>
                    <div class="resume-detail">
                        <h5>Software Engineer</h5>
                        <h6>Orange</h6>
                        <p>Playing with Java, Angular and Salesforce.</p>
                    </div>
                </div>
                <div class="resume">
                    <div class="resume-summary">
                        <h6>March 2020 - Present</h6>
                    </div>
                    <div class="resume-detail">
                        <h5>Freelance Software Engineer</h5>
                        <h6>Upwork</h6>
                        <p>Developing and maintaining Web and Android applications on demand.</p>
                    </div>
                </div>
                <div class="resume">
                    <div class="resume-summary">
                        <h6>June 2019 - Present</h6>
                    </div>
                    <div class="resume-detail">
                        <h5>CEO</h5>
                        <h6>Asu Software</h6>
                        <p>Developing software and Android games.</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="title">
                <i class="fas fa-graduation-cap"></i>
                <h4>Educational Qualifications</h4>
            </div>
            <div class="resume-wrapper">
                <div class="resume">
                    <div class="resume-summary">
                        <h6>May 2020 - June 2020</h6>
                    </div>
                    <div class="resume-detail">
                        <h5>Full Stack Java Development license</h5>
                        <p>Experis Academy</p>
                    </div>
                </div>

                <div class="resume">
                    <div class="resume-summary">
                        <h6>September 2012 - 2017</h6>
                    </div>
                    <div class="resume-detail">
                        <h5>High School Electronics and electrical engineering</h5>
                        <p>Rome, Italy</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>