<div class="contenitor">
    <div id="particles-js"></div>
    <div class="description">
        <h2>Hi, I am <span>Antonio Popa</span></h2>
        <p>Software Engineer with passion for Web and Android applications</p>
        <div class="social">
            <div class="box">
                <a href="https://www.facebook.com/AntonioLucian24" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="box">
                <a href="https://www.instagram.com/antonio_lucian13" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="box">
                <a href="https://www.linkedin.com/in/antonio-lucian-popa-b22890195" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="box">
                <a href="https://github.com/AsuSoftware" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="box">
                <a href="https://twitter.com/AsuSoftware" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>